#Vivado ignores
*.log
*.jou
*.str
*.tmp
*.xsa
*.bd
bd/
project_1/

#software ignore for vitis tutorial
software/

#Vitis ignores
.metadata/
.cache/
*.log
*.jou
*.elf
*.o
*.a
*.so
Debug/
Release/

# Temporary files
*.tmp
*.bak
*.swp
